
<div *ngIf="!currentVideo" class="row align-items-center h-100">
  <div  class="col text-center alert alert-info">
      Please select a video
  </div>
</div>
<div>
  <div *ngIf="currentVideo" class="row">

    <div class="col">
      <h2>Channel: {{topVideo.title}}</h2>
      <table class="table table-striped">
          <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Channel ID</th>
                <th scope="col">Current Concurrent Views</th>
                <th scope="col">Total Views</th>
                <th scope="col">Total Like</th>
                <th scope="col">Total Dislike</th>
                <th scope="col">Publish at</th>
                <th scope="col">Live chat ID</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{topVideo.videoId}}</th>
                <td>{{topVideo.channelId}}</td>
                <td>{{currentVideo.liveStreamingDetails.concurrentViewers}}</td>
                <td>{{currentVideo.statistics.viewCount}}</td>
                <td>{{currentVideo.statistics.likeCount}}</td>
                <td>{{currentVideo.statistics.dislikeCount}}</td>
                <td>{{topVideo.publishedAt}}</td>
                <td>
                  <div *ngIf="currentVideo.liveStreamingDetails.activeLiveChatId; else noLiveChatID">
                      <a href="#chat" (click)="ngOnSelectChatId(currentVideo.liveStreamingDetails.activeLiveChatId)">Display Chat</a>
                  </div>
                </td>
              </tr>
            </tbody>
      </table>
    </div>
  </div>

  <ng-template #noLiveChatID><td> No Live Chat</td></ng-template>
</div>
